.App {
  text-align: center;
}
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  height:max-content;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
header a {
  color: aliceblue;
}
.icon-nav {
  flex: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 10vw auto 3vw;
  border: 2px solid red;
}
.icons {
  width: 25px;
}
.section-scroll{
  flex: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 3vw auto 10vw;
  border: 2px solid red;

}
.shift-page-link {
  font-size: 14pt;
}


@keyframes drop-nav {
  0% {
    position: sticky;
    top: -100px;
  }
  25% {
    position: sticky;
    top: -75px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -25px;
  }
  100% {
    position: sticky;
    top: 0;
  }
}

@keyframes raise-nav {
  0% {
    position: sticky;
    top: 0;
  }
  25% {
    position: sticky;
    top: -25px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -75px;
  }
  100% {
    position: sticky;
    top: -100px;
  }
}

/* -**TEST IF APPLICABLE**- */
/* header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 5px;
  background-color: rgba(253, 238, 220, .7);
} */
/* -**  **- */
