/* SETTING UP APP COMPONENT TO TAKE 100% HEIGHT AND WIDTH */
.App {
  width: 103%;
  height: 104%;
  margin-left: -2vw;
  margin-top: -3vh;
  margin-bottom: -3vh;
  text-align: center;
  background-color: black;
}

.hidden,
.mobile {
  display: none;
}

/* HEADER AND HIDING-NAV STYLES */

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes drop-nav {
  0% {
    position: sticky;
    top: -100px;
  }

  25% {
    position: sticky;
    top: -75px;
  }

  50% {
    position: sticky;
    top: -50px;
  }

  75% {
    position: sticky;
    top: -25px;
  }

  100% {
    position: sticky;
    top: 0;
  }
}

@keyframes raise-nav {
  0% {
    position: sticky;
    top: 0;
  }

  25% {
    position: sticky;
    top: -25px;
  }

  50% {
    position: sticky;
    top: -50px;
  }

  75% {
    position: sticky;
    top: -75px;
  }

  100% {
    position: sticky;
    top: -100px;
  }
}

header a {
  color: aliceblue;
}

.icon-nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 auto 10vw;
}

.icons {
  width: 33px;
  cursor: pointer;
}

.section-scroll {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 10vw auto 0;
}

.shift-page-link {
  font-size: 14pt;
  text-decoration: none;
}

.shift-page-link:hover,
.underlined {
  text-decoration: underline;
}

/* LANDING SECTION STYLES */
.profile-pic {
  width: 120px;
  border-radius: 50%;
  border: 3px ridge black;
}

.landing {
  margin: -3vh auto;
  padding-top: 13vh;
  height: 87vh;
  color: aliceblue;
  background-image: url(assets/images/digitalCity.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.landing h1 {
  -webkit-text-fill-color: aliceblue;
  -webkit-text-stroke-color: rgb(42, 41, 41);
  -webkit-text-stroke-width: .9px;
  text-shadow: -3px 3px 2px rgb(42, 41, 41);
}

.greeting, .introduction {
  font-size: 25pt;
}

.introduction {
  margin-bottom: 10vh;
  /* border: 2px solid red; */
}

.declaration {
  font-size: 33pt;
}

/* PROJECT SECTION STYLES */
#projects-section {
  min-height: 130vh;
  height: max-content;
  color: aliceblue;
  background-image: linear-gradient(to right, blue, #2A4365);
  padding-bottom: 5vh;
}

.banner {
  font-size: 20pt;
  text-align: left;
  margin-left: 9%;
  padding-top: 40px;
  text-decoration: underline;
}

.projects {
  justify-items: center;
  width: 95%;
  max-height: 85vh;
  max-height: max-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

.project-card {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  justify-content: space-between;
  box-shadow: -1px 1px 13px aliceblue;
  border-radius: 16px;
  border: 1px solid blue;
}

.project-image-button {
  max-height: 300px;
  border-radius: 16px 16px 0 0;
  background-color: blue;
}

.project-image-button:hover {
  background-color: aliceblue;
}

.project-image {
  max-height: 276px;
  max-width: 484px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.project-title {
  text-decoration: underline;
  margin-bottom: 0;
}

.project-description {
  font-size: 14pt;
}

/* STYLES FOR SLIDESHOW OF PROJECTS */
/* .projects-left {
  z-index: 1;
}
.projects-center {
  z-index: 2;
}
.projects-right {
  z-index: 1;
} */

.site-button {
  width: max-content;
  align-self: center;
  background-color: aliceblue;
  border-radius: 10px;
}

.site-button:hover {
  text-decoration: underline;
}

.site-button a {
  font-size: 12pt;
  text-decoration: none;
}

.site-arrow {
  height: 10px;
  margin: 0 0 0 10px;
}

/* CONTACTME SECTION STYLES */
#contactme-section {
  margin-top: -3vh;
  padding-top: 11vh;
  padding-bottom: 10vh;
  height: 77vh;
  color: aliceblue;
  background-image: linear-gradient(to right, #2A4365, blue);
}

form {
  margin: auto;
  width: 45%;
  box-shadow: -2px 2px 13px aliceblue;
  border-radius: 10px;
  border: 2px solid blue;
}

form h1 {
  font-size: 25pt;
  margin: 20px auto;
  text-align: center;
  text-decoration: underline;
}

.form {
  margin: 0 auto 20px;
  text-align: left;
  width: 90%;
}

.form label {
  display: block;
  font-size: 16pt;
  margin: 0 0 10px;
  text-align: left;
}

input,
textarea {
  font-size: 12pt;
  width: 97%;
  margin: 0 auto;
  padding: 1vh .5vw;
  color: aliceblue;
  border-radius: 5px;
  background-color: transparent;
  border: 1px ridge aliceblue;
}

select {
  font-size: 12pt;
  width: 100%;
  color: aliceblue;
  background-color: transparent;
  border: 1px ridge aliceblue;
}

textarea {
  height: 8ch;
}

.error-message {
  color: red;
  width: 100%;
  height: 2.3ch;
  text-align: center;
  font-size: 15pt;
  margin: .5vh auto 2vh;
}

.form button {
  font-size: 13pt;
  min-width: 12ch;
  width: 50%;
  max-width: 50%;
  max-height: 5vh;
  margin-left: 25%;
  overflow: hidden;
  color: aliceblue;
  background-color: transparent;
  box-shadow: -1px 1px 5px aliceblue;
  border-radius: 5px;
  border: 1px ridge aliceblue;
}

.form button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  border: 1px ridge red;
}

.form a {
  width: 100%;
  height: 100%;
  padding: 1vh 4.2vw;
  color: aliceblue;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
  transition: all 3s ease-in-out;
}

/* DETAILS PAGE STYLES */
.details-page {
  min-height: 100vh;
  padding: 20px;
  color: aliceblue;
  background-image: radial-gradient(circle, #2A4365, blue);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details-image {
  width: 80%;
  margin: 4vh auto;
}

.details-title {
  font-size: 20pt;
  text-decoration: underline;
}

.details,
.details-tech-used {
  font-size: 16pt;
  text-align: start;
  padding: 0 30pt;
}

.details-site-button,
.details-github-button {
  width: max-content;
  margin: 20px auto;
  font-size: 12pt;
}

.details-site-link,
.details-github-link {
  color: blue;
  text-decoration: none;
}

.details-site-link:hover,
.details-github-link:hover {
  color: grey;
  text-decoration: underline;
}

/* FOOTER STYLES */
footer {
  width: 100%;
  height: 8vh;
  font-size: 14pt;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -2vh;
}

/* --MOBILE STYLES-- */
@media (max-width: 900px) {

  /* GENERAL STYLING */
  .desktop {
    display: none;
  }

  /* HEADER STYLING */
  .nav-icon {
    max-height: 100%;
    display: flex;
    padding: 0;
    margin-right: 3vw;
    border-radius: 7px;
  }

  .nav-icon-img {
    width: 35px;
    background-color: aliceblue;
  }

  .section-scroll-list {
    width: max-content;
    padding: 1vh 1vw;
    font-size: 16pt;
    margin: 2vh 0;
    z-index: 11;
    position: absolute;
    right: 2vw;
    top: 7vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: rgba(42, 67, 101, .8);
    box-shadow: -1px 1px 8px aliceblue;
    border: solid 2px blue;
  }

  .shift-page-link {
    margin: .75vh 0;
    font-size: 16pt;
  }

  .icon-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 auto 3vw;
  }

  /* LANDING SECTION STYLES */
  .landing {
    margin: -3vh auto;
    padding-top: 5%;
    min-height: 92vh;
    overflow: hidden;
  }

  .introduction {
    margin-bottom: 5vh;
    /* border: 2px solid red; */
  }

  .declaration {
    font-size: 27pt;
  }

  /* PROJECT SECTION STYLES */
  .banner {
    font-size: 25pt;
  }

  /* DETAILS PAGE STYLES */
  .details-image {
    width: 95%;
  }

  .details-title {
    font-size: 20pt;
    text-decoration: underline;
  }

  .details,
  .details-tech-used {
    padding: 0 10pt;
  }

  /* CONTACTME SECTION STYLES */
  #contactme-section {
    margin-top: -3vh;
    padding-top: 10vh;
    padding-bottom: 20vh;
    height: 77vh;
  }

  form {
    width: 90%;
  }

  .form button {
    max-height: max-content;
    margin-top: 2vh;
  }
}

@media (max-width: 380px) {

  /* LANDING SECTION STYLES */
  .landing {
    margin: -3vh auto;
    padding-top: 5%;
  }

  .introduction {
    margin-bottom: 5vh;
  }

  .declaration {
    font-size: 27pt;
  }

  /* PROJECT SECTION STYLES */
  #projects-section {
    padding-top: .5vh;
    min-height: 145vh;
    padding-bottom: 5vh;
  }

  .banner {
    padding-top: 20px;
    font-size: 25pt;
  }

  .project-image-button {
    min-width: 100%;
    margin: auto;
  }

  .projects {
    margin-bottom: 20px;
    display: inline-block;
  }

  .project-card {
    margin: 0 auto 40px;
  }

  .project-description {
    font-size: 16pt;
  }

  /* CONTACTME SECTION STYLES */
  #contactme-section {
    padding-bottom: 30vh;
  }
}

@media (max-width: 350px) {

  /* LANDING SECTION STYLES */
  .landing {
    margin: -3vh auto;
    padding-top: 5%;
    height: 91vh;
  }

  .introduction {
    margin-bottom: 5vh;
  }

  .declaration {
    font-size: 28pt;
  }

  /* PROJECT SECTION STYLES */
  #projects-section {
    min-height: 175vh;
  }

  .banner {
    padding-top: 10px;
  }

  /* CONTACTME SECTION STYLES */
  #contactme-section {
    padding-bottom: 40vh;
  }

  .form button {
    margin-top: 3vh;
  }

  .form a {
    padding: 1vh 0vw;
  }
}