/* SETTING UP APP COMPONENT TO TAKE 100% HEIGHT AND WIDTH */
.App {
  width: 103%;
  height: 104%;
  margin-left: -2vw;
  margin-top: -3vh;
  margin-bottom: -3vh;
  text-align: center;
  background-color: black;
}

.hidden {
  display: none;
}

/* HEADER AND HIDING-NAV STYLES */
header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes drop-nav {
  0% {
    position: sticky;
    top: -100px;
  }
  25% {
    position: sticky;
    top: -75px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -25px;
  }
  100% {
    position: sticky;
    top: 0;
  }
}

@keyframes raise-nav {
  0% {
    position: sticky;
    top: 0;
  }
  25% {
    position: sticky;
    top: -25px;
  }
  50% {
    position: sticky;
    top: -50px;
  }
  75% {
    position: sticky;
    top: -75px;
  }
  100% {
    position: sticky;
    top: -100px;
  }
}

header a {
  color: aliceblue;
}

.icon-nav {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0 auto 10vw;
}

.icons {
  width: 33px;
  cursor: pointer;
}

.section-scroll{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 10vw auto 0;
}

.shift-page-link {
  font-size: 14pt;
  text-decoration: none;
}

.shift-page-link:hover {
  text-decoration: underline;
}

/* LANDING SECTION STYLES */
.profile-pic {
  width: 120px;
  border-radius: 50%;
  border: 3px ridge black;
}

.landing {
  margin: -3vh auto;
  padding-top: 23vh;
  height: 75vh;
  color: aliceblue;
  background-image: linear-gradient(to left, blue, #2A4365);
}

.introduction {
  font-size: 14pt;
  margin-bottom: 10vh;
}

.declaration {
  font-size: 33pt;
}

/* PROJECT SECTION STYLES */
#projects-section {
  min-height: 104vh;
  height:max-content;
  color: aliceblue;
  background-image: linear-gradient(to right, blue, #2A4365);
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
}
.projects {
  justify-items: center;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-gap: 8px;
  border: 2px solid aliceblue;
}
.project-card {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid red;
}
.project-image-button {
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  border-radius: 16px 16px 0 0;
}
.project-image {
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  /* margin: auto; */
  width: 100%;
  /* height: 102%; */
  border-radius: 16px 16px 0 0;
}
.projects-left {
  z-index: 1;
}
.projects-center {
  z-index: 2;
}
.projects-right {
  z-index: 1;
}
.site-button {
  width: 95%;
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* align-items: center; */
  align-self: center;
  background-color: aliceblue;
  border-radius: 10px;
}
.site-button:hover {
  text-decoration: underline;
}
.site-button a {
  /* width: 00%; */
  text-decoration: none;
  background-color: yellow;
}
.site-arrow {
  height: 10px;
  /* justify-content: center; */
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  margin: 0 0 0 10px;
  /* padding: 0; */
}





/* CONTACTME SECTION STYLES */
#contactme-section {
  margin-top: -3vh;
  padding-top: 11vh;
  padding-bottom: 10vh;
  height: 77vh;
  color: aliceblue;
  background-image: linear-gradient(to right, #2A4365, blue);
}

form {
  margin: auto;
  width: 45%;
  box-shadow: -2px 2px 13px aliceblue;
  border-radius: 10px;
  border: 2px solid blue;
}

form h1 {
  font-size: 25pt;
  margin: 20px auto;
  text-align: center;
  text-decoration: underline;
}

.form {
  margin: 0 auto 20px;
  text-align: left;
  width: 90%;
}

.form label {
  display: block;
  font-size: 16pt;
  margin: 0 0 10px;
  text-align: left;
}

input, textarea {
  font-size: 12pt;
  width: 97%;
  margin: 0 auto;
  padding: 1vh .5vw;
  color: aliceblue;
  border-radius: 5px;
  background-color: transparent;
  border: 1px ridge aliceblue;
}

select {
  font-size: 12pt;
  width: 100%;
  color: aliceblue;
  background-color: transparent;
  border: 1px ridge aliceblue;
}

textarea {
  height: 8ch;
}

.error-message {
  color: red;
  width: 100%;
  height: 2.3ch;
  text-align: center;
  font-size: 15pt;
  margin: .5vh auto 2vh;
}

.form button {
  font-size: 13pt;
  min-width: 12ch;
  width: 50%;
  max-width: 50%;
  max-height: 5vh;
  margin-left: 25%;
  overflow: hidden;
  color: aliceblue;
  background-color: transparent;
  border-radius: 5px;
  border: 1px ridge aliceblue;
}

.form button:disabled {
  cursor: not-allowed;
}

.form a {
  width: 100%;
  height: 100%;
  padding: 1vh 4.2vw;
  color: aliceblue;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
  transition: all 3s ease-in-out;
}

/* DETAILS PAGE STYLES */
.details-page {
  min-height: 98vh;
  background-image:  radial-gradient(circle, #2A4365, blue);
}


/* FOOTER STYLES */
footer {
  width: 100%;
  height: 8vh;
  font-size: 14pt;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -2vh;
}

/* MOBILE STYLES */